table.printable {
  display: block !important;
  margin: -2px 0px 0px 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
} 

body {
  padding-top: 0px !important;
  background-color: #000;
}

.jumbotron, .page-header, .alert, h1, .navbar, .row {
  display: none;
}
